<header class="c-header c-header-light c-header-fixed c-header-with-subheader">

    <button class="c-header-toggler c-class-toggler d-lg-none" type="button" data-target="#sidebar" data-class="c-sidebar-show">
        <span class="c-header-toggler-icon"></span>
    </button>

    <a class="c-header-brand d-sm-none" href="#">
        <img class="c-header-brand-full c-d-dark-none" src="~/assets/logo/journal_logo_blue.svg" height="40" alt="Journal Logo">
        <img class="c-header-brand-minimized c-d-dark-none" src="~/assets/logo/journal_logo_blue.svg" height="40" alt="Journal Logo">
        <img class="c-header-brand-full c-d-light-none" src="~/assets/logo/journal_logo_white.svg" height="40" alt="Journal Logo">
        <img class="c-header-brand-minimized c-d-light-none" src="~/assets/logo/journal_logo_white.svg" height="40" alt="Journal Logo">
    </a>

    <button class="c-header-toggler c-class-toggler mfs-3 d-md-down-none" type="button" data-target="#sidebar" data-class="c-sidebar-lg-show" responsive="true">
        <span class="c-header-toggler-icon"></span>
    </button>

    <ul class="c-header-nav d-md-down-none">
        <li class="c-header-nav-item px-3"><a class="c-header-nav-link" href="/admin/">Dashboard</a></li>
        <li class="c-header-nav-item px-3"><a class="c-header-nav-link" href="#">Users</a></li>
    </ul>

    <ul class="c-header-nav ml-auto mr-3">
        @*<li class="c-header-nav-item dropdown mx-2">
            <a class="c-header-nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                <i class="cil-bell"></i>
                <span class="badge badge-pill badge-danger">5</span>
            </a>

            <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg pt-0">
                <div class="dropdown-header bg-light"><strong>You have 5 notifications</strong></div>
                <a class="dropdown-item" href="#">
                    <i class="cil-user-follow mfe-2 text-success"></i>New user registered
                </a>
                <a class="dropdown-item" href="#">
                    <i class="cil-user-unfollow mfe-2 text-danger"></i>User deleted
                </a>
                <a class="dropdown-item" href="#">
                    <i class="cil-chart mfe-2 text-info"></i>Sales report is ready
                </a>
                <a class="dropdown-item" href="#">
                    <i class="cil-basket mfe-2 text-success"></i>New client
                </a>
                <a class="dropdown-item" href="#">
                    <i class="cil-speedometer mfe-2 text-warning"></i>Server overloaded
                </a>
            </div>
        </li>*@

        <li class="c-header-nav-item dropdown mr-2">
            <a class="c-header-nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                <div class="c-avatar">
                    <img class="c-avatar-img" src="~/assets/admin/img/user-placeholder.png" alt="user@email.com">
                </div>
            </a>

            <div class="dropdown-menu dropdown-menu-right pt-0">
                <a class="dropdown-item" href="#">
                    <i class="cil-user mfe-2 text-info"></i>Profile
                </a>

                <div class="dropdown-divider"></div>

                <a class="dropdown-item" href="#">
                    <i class="cil-lock-locked mfe-2 text-warning"></i>Lock Account
                </a>
                <a class="dropdown-item" href="#">
                    <i class="cil-account-logout mfe-2 text-danger"></i>Logout
                </a>
            </div>
        </li>
    </ul>

    <div class="c-subheader justify-content-between px-3">

        <ol class="breadcrumb border-0 m-0 px-0 px-md-3">
            <li class="breadcrumb-item"><a href="/admin/">Dashboard</a></li>
            @if (Model != null)
            {
                foreach (var breadcrumb in Model.Breadcrumbs)
                {
                    if (!breadcrumb.isLeaf)
                    {
                        <li class="breadcrumb-item"><a href="@breadcrumb.link">@breadcrumb.title</a></li>
                    }
                    else
                    {
                        <li class="breadcrumb-item @breadcrumb.state">@breadcrumb.title</li>
                    }
                }
            }
        </ol>

    </div>
</header>