<div class="c-sidebar c-sidebar-dark c-sidebar-fixed c-sidebar-lg-show" id="sidebar">

    <div class="c-sidebar-brand">
        <img class="c-sidebar-brand-full" src="~/assets/logo/journal_logo_white.svg" height="40" alt="Journal Logo">
        <img class="c-sidebar-brand-minimized" src="~/assets/logo/journal_logo_white.svg" height="40" alt="Journal Logo">
    </div>

    <ul class="c-sidebar-nav" data-drodpown-accordion="true">
        <li class="c-sidebar-nav-item">
            <a class="c-sidebar-nav-link" href="/admin/">
                <i class="cil-speedometer c-sidebar-nav-icon"></i>Dashboard
            </a>
        </li>

        <li class="c-sidebar-nav-dropdown">
            <a class="c-sidebar-nav-dropdown-toggle" href="#">
                <i class="cil-book c-sidebar-nav-icon"></i> Journals
            </a>

            <ul class="c-sidebar-nav-dropdown-items">
                <li class="c-sidebar-nav-item">
                    <a class="c-sidebar-nav-link" href="/admin/journals/"> All</a>
                </li>
                <li class="c-sidebar-nav-item">
                    <a class="c-sidebar-nav-link" href="/admin/journals/published/"> Published</a>
                </li>
                <li class="c-sidebar-nav-item">
                    <a class="c-sidebar-nav-link" href="/admin/journals/non-published/"> Non-published</a>
                </li>
                <li class="c-sidebar-nav-item">
                    <a class="c-sidebar-nav-link" href="/admin/journals/deleted/"> Deleted</a>
                </li>
            </ul>
        </li>

        <li class="c-sidebar-nav-dropdown">
            <a class="c-sidebar-nav-dropdown-toggle" href="#">
                <i class="cil-newspaper c-sidebar-nav-icon"></i>Articles
            </a>

            <ul class="c-sidebar-nav-dropdown-items">
                <li class="c-sidebar-nav-item">
                    <a class="c-sidebar-nav-link" href="/admin/articles/published/">Published</a>
                </li>
                <li class="c-sidebar-nav-item">
                    <a class="c-sidebar-nav-link" href="/admin/articles/non-published/">Non-published</a>
                </li>
                <li class="c-sidebar-nav-item">
                    <a class="c-sidebar-nav-link" href="/admin/articles/featured/">Featured</a>
                </li>
                <li class="c-sidebar-nav-item">
                    <a class="c-sidebar-nav-link" href="/admin/articles/deleted/">Deleted</a>
                </li>
            </ul>
        </li>

        <li class="c-sidebar-nav-item">
            <a class="c-sidebar-nav-link" href="/admin/categories/">
                <i class="cil-list-rich c-sidebar-nav-icon"></i>Categories
            </a>
        </li>

        <li class="c-sidebar-nav-item">
            <a class="c-sidebar-nav-link" href="/admin/tags/">
                <i class="cil-tags c-sidebar-nav-icon"></i>Tags
            </a>
        </li>

        <li class="c-sidebar-nav-item">
            <a class="c-sidebar-nav-link" href="/admin/exhibits/">
                <i class="cil-chart-line c-sidebar-nav-icon"></i>Exhibits
            </a>
        </li>

        <li class="c-sidebar-nav-item">
            <a class="c-sidebar-nav-link" href="/admin/downloadable-resources/">
                <i class="cil-cloud-download c-sidebar-nav-icon"></i>Downloadable Resources
            </a>
        </li>

        <li class="c-sidebar-nav-item">
            <a class="c-sidebar-nav-link" href="/admin/media/">
                <i class="cil-image1 c-sidebar-nav-icon"></i>Media
            </a>
        </li>

        <li class="c-sidebar-nav-dropdown">
            <a class="c-sidebar-nav-dropdown-toggle" href="#">
                <i class="cil-comment-square c-sidebar-nav-icon"></i>Comments
            </a>

            <ul class="c-sidebar-nav-dropdown-items">
                <li class="c-sidebar-nav-item">
                    <a class="c-sidebar-nav-link" href="/admin/comments/">All</a>
                </li>
                <li class="c-sidebar-nav-item">
                    <a class="c-sidebar-nav-link" href="/admin/comments/confirmed/">Confirmed</a>
                </li>
                <li class="c-sidebar-nav-item">
                    <a class="c-sidebar-nav-link" href="/admin/comments/awaiting/">Awaiting</a>
                </li>
            </ul>
        </li>

        <li class="c-sidebar-nav-item">
            <a class="c-sidebar-nav-link" href="/admin/subscriptions/">
                <i class="cil-bookmark c-sidebar-nav-icon"></i>Subscriptions
            </a>
        </li>

        <li class="c-sidebar-nav-item">
            <a class="c-sidebar-nav-link" href="/admin/user-groups/">
                <i class="cil-people c-sidebar-nav-icon"></i>User Groups
            </a>
        </li>
    </ul>

    <button class="c-sidebar-minimizer c-class-toggler" type="button" data-target="_parent" data-class="c-sidebar-unfoldable"></button>
</div>