@{
    ViewBag.title = "Dashboard";
}

<div class="row">
    <div class="col-12">
        <ul class="nav mb-3">
            <li class="nav-item mr-2">
                <a href="/admin/journals/add/" class="btn btn-block btn-primary font-weight-bold" role="button"><i class="cil-plus"></i> Journal</a>
            </li>
            <li class="nav-item mr-2">
                <a href="/admin/articles/add/" class="btn btn-block btn-info font-weight-bold" role="button"><i class="cil-plus"></i> Article</a>
            </li>
        </ul>
    </div>
</div>

<h2>Hello World!</h2>