@{
    ViewBag.title = "User";
    ViewBag.headerClass = "fixed";
    ViewBag.footerClass = "border-top";
    ViewBag.loadScrollMagic = true;
}

<!-- User Page -->
<div id="user-page">
    <!-- Parallax Container -->
    <div class="parallax-container">
        <img src="/assets/images/user-cover.jpg" alt="User Cover">
    </div>

    <!-- User Landing -->
    <div class="user-landing">
        <!-- User Heading -->
        <div class="user-heading">
            <!-- User Image Wrapper -->
            <div class="user-image-wrapper">
                <!-- User Image -->
                <img src="/assets/images/profile-photo-ex.jpg" class="user-image" alt="Profile Photo">
            </div>

            <!-- User Title -->
            <p class="user-title">
                Software Developer
            </p>

            <!-- User's Full Name -->
            <h1 class="user-fullname">
                Mike Wazowski
            </h1>

            <!-- Author Socials -->
            <ul class="author-socials">
                <!-- Author Social Item -->
                <li class="author-social-item">
                    <!-- Author Social Link -->
                    <a href="mailto:johnwick@gmail.com" class="author-social-link">
                        <i class="fal fa-envelope"></i>
                    </a>
                </li>

                <!-- Author Social Item -->
                <li class="author-social-item">
                    <!-- Author Social Link -->
                    <a href="#" class="author-social-link">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                </li>

                <!-- Author Social Item -->
                <li class="author-social-item">
                    <!-- Author Social Link -->
                    <a href="#" class="author-social-link">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                </li>
            </ul>
        </div>

        <!-- Overlay -->
        <div class="overlay"></div>
    </div>


    <!-- User Info -->
    <div class="user-info">

        <!-- User About Section -->
        <section class="user-section user-about">
            <!-- User Section Heading -->
            <h2 class="user-section-heading">
                About
            </h2>

            <!-- User Section Text -->
            <p class="user-section-text">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Autem, repudiandae illo. Repellat laborum
                inventore in numquam odit veniam consequatur totam sunt vitae porro. Molestiae porro tempora
                suscipit numquam cum id voluptates, vitae ducimus. Error culpa at adipisci eum quasi sed deserunt
                aut molestiae odio voluptates.
            </p>
        </section>

        <!-- User Exp Section -->
        <section class="user-section user-experience">
            <!-- User Section Heading -->
            <h2 class="user-section-heading">
                Experience
            </h2>

            <!-- User Experience Wrapper -->
            <div class="user-exp-wrapper">

                <!-- User Experience Item -->
                <div class="user-exp-item">
                    <div class="exp-icon">
                        <img src="/assets/images/mit_logo.svg" alt="Company Logo" class="exp-image">
                    </div>
                    <div class="exp-text">
                        Master degree in Software Engineering at <strong>MIT</strong>
                    </div>
                </div>

                <!-- User Experience Item -->
                <div class="user-exp-item">
                    <div class="exp-icon">
                        <img src="/assets/images/google_g_icon.svg" alt="Company Logo" class="exp-image">
                    </div>
                    <div class="exp-text">
                        10 years experience at <strong>Google Inc.</strong>
                    </div>
                </div>

            </div>
        </section>

        <!-- User Articles Section -->
        <section class="user-section user-articles">
            <!-- User Section Heading -->
            <h2 class="user-section-heading">
                Articles
            </h2>

            <!-- Timeline Wrapper -->
            <div class="timeline-wrapper">
                <!-- Timeline Container - Left -->
                <div class="timeline-container left">
                    <!-- Timeline Item -->
                    <div class="timeline-item">
                        <a href="/article.html" class="timeline-link">
                            <img src="/assets/images/tech-article-2.jpg" alt="" class="timeline-image">
                            <h6 class="timeline-title">
                                Volvo Group's new military vehicle can drive sideways, like a crab
                            </h6>
                            <span class="timeline-date">25.07.2019</span>
                        </a>
                    </div>
                </div>

                <!-- Timeline Container - Right -->
                <div class="timeline-container right">
                    <!-- Timeline Item -->
                    <div class="timeline-item">
                        <a href="/article.html" class="timeline-link">
                            <img src="/assets/images/tech-article-3.jpg" alt="" class="timeline-image">
                            <h6 class="timeline-title">
                                Last week in tech: A MacBook Pro recall, the new Kindle, and Facebook’s
                                cryptocurrency
                            </h6>
                            <span class="timeline-date">25.07.2019</span>
                        </a>
                    </div>
                </div>

                <!-- Timeline Container - Left -->
                <div class="timeline-container left">
                    <!-- Timeline Item -->
                    <div class="timeline-item">
                        <a href="/article.html" class="timeline-link">
                            <img src="/assets/images/tech-article-4.jpg" alt="" class="timeline-image">
                            <h6 class="timeline-title">
                                Saab's new spy plane has a powerful piece of hardware on top
                            </h6>
                            <span class="timeline-date">25.07.2019</span>
                        </a>
                    </div>
                </div>

                <!-- More Button -->
                <button class="btn btn-more">More Articles</button>

                <!-- Join Timestamp -->
                <div class="join-timestamp">
                    <span class="join-time">13.01.2018</span>
                    <span class="join-text">Joined our team</span>
                </div>
            </div>
        </section>

        <!-- User Subscribe Section -->
        <section class="user-section user-subscribe">
            <!-- User Section Heading -->
            <h2 class="user-section-heading">
                Subscribe to Mike Wazowski
            </h2>

            <!-- User Subscribe Wrapper -->
            <div class="user-subscribe-wrapper">
                <div class="form-group">
                    <input type="email" class="form-control" placeholder="E-mail">
                    <button class="btn btn-arrow-right">Subscribe</button>
                </div>
            </div>
        </section>
    </div>
</div>

<!-- Go Up Button -->
<button class="btn btn-up"></button>