@{
    ViewBag.title = "All Issues";
    ViewBag.headerClass = "fixed dark";
    ViewBag.footerClass = "fixed border-top";
}

<!-- Social Share Buttons -->
<div class="social-share-buttons">
    <!-- Social Share Buttons Trigger -->
    <button class="btn btn-social-buttons-trigger">
        <i class="fal fa-share"></i>
    </button>

    <!-- Social Share Buttons List -->
    <ul class="social-share-buttons-list">
        <!-- Social Share Item -->
        <li class="social-share-item">
            <i class="fab fa-facebook-f"></i>
        </li>

        <!-- Social Share Item -->
        <li class="social-share-item">
            <i class="fab fa-twitter"></i>
        </li>

        <!-- Social Share Item -->
        <li class="social-share-item">
            <i class="fab fa-linkedin-in"></i>
        </li>
    </ul>
</div>

<!-- All Issues Pagge -->
<div id="all-issues-page">
    <!-- All Issues Page Header -->
    <h1 class="all-issues-header">All Issues</h1>
    <!-- Issues List -->
    <div class="issues-list swiper-container">
        <div class="swiper-wrapper">

            <!-- Issues List Wrapper -->
            <div class="issues-list-wrapper swiper-slide">

                <!-- Issue Item -->
                <div class="issue-item submenu-image-item">
                    <a href="issue.html" class="submenu-image-link">
                        <figure class="submenu-figure">
                            <img src="/assets/images/journal-1.jpg" alt="Journal" class="submenu-image">

                            <div class="overlay">
                                <div class="overlay-title">
                                    All Out Black
                                    <span class="overlay-explore">
                                        explore
                                        <i class="fal fa-arrow-right"></i>
                                    </span>
                                </div>
                            </div>
                        </figure>
                        <span class="date">May 2019</span>
                    </a>
                </div>

                <!-- Issue Item -->
                <div class="issue-item submenu-image-item">
                    <a href="issue.html" class="submenu-image-link">
                        <figure class="submenu-figure">
                            <img src="/assets/images/journal-2.jpg" alt="Journal" class="submenu-image">

                            <div class="overlay">
                                <div class="overlay-title">
                                    Fat Pie
                                    <span class="overlay-explore">
                                        explore
                                        <i class="fal fa-arrow-right"></i>
                                    </span>
                                </div>
                            </div>
                        </figure>
                        <span class="date">April 2019</span>
                    </a>
                </div>

                <!-- Issue Item -->
                <div class="issue-item submenu-image-item">
                    <a href="issue.html" class="submenu-image-link">
                        <figure class="submenu-figure">
                            <img src="/assets/images/journal-3.jpg" alt="Journal" class="submenu-image">

                            <div class="overlay">
                                <div class="overlay-title">
                                    Workspace
                                    <span class="overlay-explore">
                                        explore
                                        <i class="fal fa-arrow-right"></i>
                                    </span>
                                </div>
                            </div>
                        </figure>
                        <span class="date">March 2019</span>
                    </a>
                </div>

                <!-- Issue Item -->
                <div class="issue-item submenu-image-item">
                    <a href="issue.html" class="submenu-image-link">
                        <figure class="submenu-figure">
                            <img src="/assets/images/journal-4.jpg" alt="Journal" class="submenu-image">

                            <div class="overlay">
                                <div class="overlay-title">
                                    Art of Design
                                    <span class="overlay-explore">
                                        explore
                                        <i class="fal fa-arrow-right"></i>
                                    </span>
                                </div>
                            </div>
                        </figure>
                        <span class="date">February 2019</span>
                    </a>
                </div>

                <!-- Issue Item -->
                <div class="issue-item submenu-image-item">
                    <a href="issue.html" class="submenu-image-link">
                        <figure class="submenu-figure">
                            <img src="/assets/images/journal-5.jpg" alt="Journal" class="submenu-image">

                            <div class="overlay">
                                <div class="overlay-title">
                                    Clubbing
                                    <span class="overlay-explore">
                                        explore
                                        <i class="fal fa-arrow-right"></i>
                                    </span>
                                </div>
                            </div>
                        </figure>
                        <span class="date">January 2019</span>
                    </a>
                </div>

            </div>

            <!-- Issues List Wrapper -->
            <div class="issues-list-wrapper swiper-slide">

                <!-- Issue Item -->
                <div class="issue-item submenu-image-item">
                    <a href="issue.html" class="submenu-image-link">
                        <figure class="submenu-figure">
                            <img src="/assets/images/journal-1.jpg" alt="Journal" class="submenu-image">

                            <div class="overlay">
                                <div class="overlay-title">
                                    All Out Black
                                    <span class="overlay-explore">
                                        explore
                                        <i class="fal fa-arrow-right"></i>
                                    </span>
                                </div>
                            </div>
                        </figure>
                        <span class="date">May 2019</span>
                    </a>
                </div>

                <!-- Issue Item -->
                <div class="issue-item submenu-image-item">
                    <a href="issue.html" class="submenu-image-link">
                        <figure class="submenu-figure">
                            <img src="/assets/images/journal-2.jpg" alt="Journal" class="submenu-image">

                            <div class="overlay">
                                <div class="overlay-title">
                                    Fat Pie
                                    <span class="overlay-explore">
                                        explore
                                        <i class="fal fa-arrow-right"></i>
                                    </span>
                                </div>
                            </div>
                        </figure>
                        <span class="date">April 2019</span>
                    </a>
                </div>

                <!-- Issue Item -->
                <div class="issue-item submenu-image-item">
                    <a href="issue.html" class="submenu-image-link">
                        <figure class="submenu-figure">
                            <img src="/assets/images/journal-3.jpg" alt="Journal" class="submenu-image">

                            <div class="overlay">
                                <div class="overlay-title">
                                    Workspace
                                    <span class="overlay-explore">
                                        explore
                                        <i class="fal fa-arrow-right"></i>
                                    </span>
                                </div>
                            </div>
                        </figure>
                        <span class="date">March 2019</span>
                    </a>
                </div>

                <!-- Issue Item -->
                <div class="issue-item submenu-image-item">
                    <a href="issue.html" class="submenu-image-link">
                        <figure class="submenu-figure">
                            <img src="/assets/images/journal-4.jpg" alt="Journal" class="submenu-image">

                            <div class="overlay">
                                <div class="overlay-title">
                                    Art of Design
                                    <span class="overlay-explore">
                                        explore
                                        <i class="fal fa-arrow-right"></i>
                                    </span>
                                </div>
                            </div>
                        </figure>
                        <span class="date">February 2019</span>
                    </a>
                </div>

                <!-- Issue Item -->
                <div class="issue-item submenu-image-item">
                    <a href="issue.html" class="submenu-image-link">
                        <figure class="submenu-figure">
                            <img src="/assets/images/journal-5.jpg" alt="Journal" class="submenu-image">

                            <div class="overlay">
                                <div class="overlay-title">
                                    Clubbing
                                    <span class="overlay-explore">
                                        explore
                                        <i class="fal fa-arrow-right"></i>
                                    </span>
                                </div>
                            </div>
                        </figure>
                        <span class="date">January 2019</span>
                    </a>
                </div>

            </div>

            <!-- Issues List Wrapper -->
            <div class="issues-list-wrapper swiper-slide">

                <!-- Issue Item -->
                <div class="issue-item submenu-image-item">
                    <a href="issue.html" class="submenu-image-link">
                        <figure class="submenu-figure">
                            <img src="/assets/images/journal-1.jpg" alt="Journal" class="submenu-image">

                            <div class="overlay">
                                <div class="overlay-title">
                                    All Out Black
                                    <span class="overlay-explore">
                                        explore
                                        <i class="fal fa-arrow-right"></i>
                                    </span>
                                </div>
                            </div>
                        </figure>
                        <span class="date">May 2019</span>
                    </a>
                </div>

                <!-- Issue Item -->
                <div class="issue-item submenu-image-item">
                    <a href="issue.html" class="submenu-image-link">
                        <figure class="submenu-figure">
                            <img src="/assets/images/journal-2.jpg" alt="Journal" class="submenu-image">

                            <div class="overlay">
                                <div class="overlay-title">
                                    Fat Pie
                                    <span class="overlay-explore">
                                        explore
                                        <i class="fal fa-arrow-right"></i>
                                    </span>
                                </div>
                            </div>
                        </figure>
                        <span class="date">April 2019</span>
                    </a>
                </div>

                <!-- Issue Item -->
                <div class="issue-item submenu-image-item">
                    <a href="issue.html" class="submenu-image-link">
                        <figure class="submenu-figure">
                            <img src="/assets/images/journal-3.jpg" alt="Journal" class="submenu-image">

                            <div class="overlay">
                                <div class="overlay-title">
                                    Workspace
                                    <span class="overlay-explore">
                                        explore
                                        <i class="fal fa-arrow-right"></i>
                                    </span>
                                </div>
                            </div>
                        </figure>
                        <span class="date">March 2019</span>
                    </a>
                </div>

                <!-- Issue Item -->
                <div class="issue-item submenu-image-item">
                    <a href="issue.html" class="submenu-image-link">
                        <figure class="submenu-figure">
                            <img src="/assets/images/journal-4.jpg" alt="Journal" class="submenu-image">

                            <div class="overlay">
                                <div class="overlay-title">
                                    Art of Design
                                    <span class="overlay-explore">
                                        explore
                                        <i class="fal fa-arrow-right"></i>
                                    </span>
                                </div>
                            </div>
                        </figure>
                        <span class="date">February 2019</span>
                    </a>
                </div>

                <!-- Issue Item -->
                <div class="issue-item submenu-image-item">
                    <a href="issue.html" class="submenu-image-link">
                        <figure class="submenu-figure">
                            <img src="/assets/images/journal-5.jpg" alt="Journal" class="submenu-image">

                            <div class="overlay">
                                <div class="overlay-title">
                                    Clubbing
                                    <span class="overlay-explore">
                                        explore
                                        <i class="fal fa-arrow-right"></i>
                                    </span>
                                </div>
                            </div>
                        </figure>
                        <span class="date">January 2019</span>
                    </a>
                </div>

            </div>

        </div>
        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>
    </div>
</div>

<!-- Go Up Button -->
<button class="btn btn-up"></button>