@{
    ViewBag.title = "Issue";
    ViewBag.headerClass = "fixed dark";
    ViewBag.footerClass = "fixed border-top";
}

<!-- Journal Issue Page -->
<div id="issue-page">

    <!-- Current Issue Aside -->
    <div class="current-issue" style="background-image: url('/assets/images/journal-2-blurred.jpg')">
        <!-- Issue Cover Image -->
        <img src="/assets/images/journal-2.jpg" class="issue-cover-image" alt="Issue Cover Image">
    </div>

    <!-- Issue Info -->
    <div class="issue-info">

        <!-- Current Issue Info -->
        <div class="current-issue-info">
            <!-- Current Issue Top Wrapper -->
            <div class="current-issue-top-wrapper">
                <!-- Current Issue Top Left -->
                <div class="current-issue-top-left">
                    <!-- Current Issue Title -->
                    <h1 class="current-issue-title">Fat Pie</h1>

                    <!-- Current Issue Date -->
                    <h6 class="current-issue-date">April 2019</h6>

                    <!-- Share & Print Buttons -->
                    <ul class="share-print-buttons">
                        <!-- Share Item -->
                        <li class="share-item">
                            <a href="#" class="share-link">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>

                        <!-- Share Item -->
                        <li class="share-item">
                            <a href="#" class="share-link">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>

                        <!-- Share Item -->
                        <li class="share-item">
                            <a href="#" class="share-link">
                                <i class="fab fa-vk"></i>
                            </a>
                        </li>

                        <!-- Share Item -->
                        <li class="share-item">
                            <a href="#" class="share-link">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                        </li>

                        <!-- Share Item -->
                        <li class="share-item">
                            <a href="#" class="share-link">
                                <i class="fas fa-envelope"></i>
                            </a>
                        </li>

                    </ul>
                </div>

                <!-- Current Issue Top Right -->
                <div class="current-issue-top-right">
                    <!-- Current Issue Download Button -->
                    <a href="javascript:" class="btn btn-download"><i class="fal fa-file-download"></i></a>
                </div>

            </div>

            <!-- Current Issue Description -->
            <p class="current-issue-desc">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis eos tempore hic temporibus fugiat
                voluptatibus reiciendis id deleniti fugit repellendus! Impedit vitae saepe numquam reiciendis
                tempore, nihil magnam quasi eligendi, dolorem magni, adipisci incidunt aliquid maxime laborum
                repudiandae. Enim culpa non, hic nulla ratione veritatis!
            </p>

            <!-- Current Issue Authors and All Issues Link Wrapper -->
            <div class="current-issue-author-link-wrapper">
                <!-- Current Issue Athors -->
                <p class="current-issue-authors">
                    <strong>Authors: </strong>
                    <a href="/user.html" class="author-link">Ahmad Fataliyev</a>,
                    <a href="/user.html" class="author-link">Orkhan Ismayilov</a>,
                    <a href="/user.html" class="author-link">Mike Wazowski</a> and others.
                </p>

                <!-- All Issues Link -->
                <a href="all-issues.html" class="all-issues-link">
                    See all issues
                </a>
            </div>
        </div>

        <!-- Current Issue Articles -->
        <div class="current-issue-articles" data-simplebar data-simplebar-auto-hide="false">
            <!-- Current Issue Articles Title -->
            <h4 class="current-issue-articles-title">Articles from this issue</h4>

            <!-- Issue Articles List -->
            <ul class="issue-articles-list">

                <!-- Issue Article Item -->
                <li class="issue-article-item">
                    <a href="/article.html" class="issue-article-link">
                        <!-- Issue Article Title -->
                        <h6 class="issue-article-title">
                            How a foreign country hacks a power grid
                        </h6>
                        <!-- Issue Article Date -->
                        <p class="issue-article-date">31.07.2019</p>
                    </a>
                </li>

                <!-- Issue Article Item -->
                <li class="issue-article-item">
                    <a href="/article.html" class="issue-article-link">
                        <!-- Issue Article Title -->
                        <h6 class="issue-article-title">
                            Volvo Group's new military vehicle can drive sideways, like a crab
                        </h6>
                        <!-- Issue Article Date -->
                        <p class="issue-article-date">31.07.2019</p>
                    </a>
                </li>

                <!-- Issue Article Item -->
                <li class="issue-article-item">
                    <a href="/article.html" class="issue-article-link">
                        <!-- Issue Article Title -->
                        <h6 class="issue-article-title">
                            Last week in tech: A MacBook Pro recall, the new Kindle, and Facebook’s cryptocurrency
                        </h6>
                        <!-- Issue Article Date -->
                        <p class="issue-article-date">31.07.2019</p>
                    </a>
                </li>

                <!-- Issue Article Item -->
                <li class="issue-article-item">
                    <a href="/article.html" class="issue-article-link">
                        <!-- Issue Article Title -->
                        <h6 class="issue-article-title">
                            Saab's new spy plane has a powerful piece of hardware on top
                        </h6>
                        <!-- Issue Article Date -->
                        <p class="issue-article-date">31.07.2019</p>
                    </a>
                </li>

                <!-- Issue Article Item -->
                <li class="issue-article-item">
                    <a href="/article.html" class="issue-article-link">
                        <!-- Issue Article Title -->
                        <h6 class="issue-article-title">
                            How a foreign country hacks a power grid
                        </h6>
                        <!-- Issue Article Date -->
                        <p class="issue-article-date">31.07.2019</p>
                    </a>
                </li>

                <!-- Issue Article Item -->
                <li class="issue-article-item">
                    <a href="/article.html" class="issue-article-link">
                        <!-- Issue Article Title -->
                        <h6 class="issue-article-title">
                            Volvo Group's new military vehicle can drive sideways, like a crab
                        </h6>
                        <!-- Issue Article Date -->
                        <p class="issue-article-date">31.07.2019</p>
                    </a>
                </li>

                <!-- Issue Article Item -->
                <li class="issue-article-item">
                    <a href="/article.html" class="issue-article-link">
                        <!-- Issue Article Title -->
                        <h6 class="issue-article-title">
                            Last week in tech: A MacBook Pro recall, the new Kindle, and Facebook’s cryptocurrency
                        </h6>
                        <!-- Issue Article Date -->
                        <p class="issue-article-date">31.07.2019</p>
                    </a>
                </li>

                <!-- Issue Article Item -->
                <li class="issue-article-item">
                    <a href="/article.html" class="issue-article-link">
                        <!-- Issue Article Title -->
                        <h6 class="issue-article-title">
                            Saab's new spy plane has a powerful piece of hardware on top
                        </h6>
                        <!-- Issue Article Date -->
                        <p class="issue-article-date">31.07.2019</p>
                    </a>
                </li>

                <!-- Issue Article Item -->
                <li class="issue-article-item">
                    <a href="/article.html" class="issue-article-link">
                        <!-- Issue Article Title -->
                        <h6 class="issue-article-title">
                            How a foreign country hacks a power grid
                        </h6>
                        <!-- Issue Article Date -->
                        <p class="issue-article-date">31.07.2019</p>
                    </a>
                </li>

                <!-- Issue Article Item -->
                <li class="issue-article-item">
                    <a href="/article.html" class="issue-article-link">
                        <!-- Issue Article Title -->
                        <h6 class="issue-article-title">
                            Volvo Group's new military vehicle can drive sideways, like a crab
                        </h6>
                        <!-- Issue Article Date -->
                        <p class="issue-article-date">31.07.2019</p>
                    </a>
                </li>

                <!-- Issue Article Item -->
                <li class="issue-article-item">
                    <a href="/article.html" class="issue-article-link">
                        <!-- Issue Article Title -->
                        <h6 class="issue-article-title">
                            Last week in tech: A MacBook Pro recall, the new Kindle, and Facebook’s cryptocurrency
                        </h6>
                        <!-- Issue Article Date -->
                        <p class="issue-article-date">31.07.2019</p>
                    </a>
                </li>

                <!-- Issue Article Item -->
                <li class="issue-article-item">
                    <a href="/article.html" class="issue-article-link">
                        <!-- Issue Article Title -->
                        <h6 class="issue-article-title">
                            Saab's new spy plane has a powerful piece of hardware on top
                        </h6>
                        <!-- Issue Article Date -->
                        <p class="issue-article-date">31.07.2019</p>
                    </a>
                </li>

            </ul>
        </div>

    </div>
</div>

<!-- Go Up Button -->
<button class="btn btn-up"></button>