@{
    ViewBag.title = "Categories";
    ViewBag.headerClass = "fixed";
}

<!-- Category Page -->
<div id="category-page">

    <!-- Category Heading -->
    <div class="category-heading" style="background-image: url('/assets/images/cat-tech.jpg')">

        <!-- Category Title Wrapepr -->
        <div class="category-title-wrapper">

            <!-- Category Title -->
            <h1 class="category-title">
                Technology
            </h1>

            <!-- Category Description -->
            <p class="category-desc">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde nemo, aspernatur eos fugit illo at
                architecto modi consequatur quod voluptatibus assumenda ab quae facilis aliquam?
            </p>

            <!-- Category Tip -->
            <p class="category-tip">
                Scroll Down to Explore
            </p>

            <!-- Category Tip Icon -->
            <div class="category-tip-icon">
                <div class="mouse" id="scrolldown-tip" data-target="#category-articles"></div>
            </div>

        </div>

        <!-- Overlay -->
        <div class="overlay"></div>
    </div>

    <!-- Category Articles List -->
    <div class="category-articles" id="category-articles">

        <!-- Category Article Big -->
        <article class="category-article-big">

            <!-- Article Image Wrapper -->
            <div class="article-image-wrapper">
                <!-- Article Image -->
                <img src="/assets/images/tech-article-1.jpg" alt="How a foreign country hacks a power grid"
                     class="article-image">
            </div>

            <!-- Article Info Wrapper -->
            <div class="article-info-wrapper">
                <!-- Article Title -->
                <h2 class="article-title">
                    How a foreign country hacks a power grid
                </h2>

                <!-- Article Excerpt -->
                <p class="article-excerpt">
                    These are the bad things one nation-state can do to another.
                </p>

                <!-- Article Link -->
                <a href="#" class="btn btn-secondary">Read More</a>
            </div>

            <!-- Overlay -->
            <div class="overlay"></div>
        </article>

        <div class="container-wide">

            <!-- Category Article -->
            <article class="category-article">

                <!-- Article Link -->
                <a href="#" class="article-link">
                    <!-- Article Image Wrapper -->
                    <div class="article-image-wrapper">
                        <!-- Article Image -->
                        <img src="/assets/images/tech-article-2.jpg"
                             alt="Volvo Group's new military vehicle can drive sideways, like a crab"
                             class="article-image">
                    </div>

                    <!-- Article Info Wrapper -->
                    <div class="article-info-wrapper">
                        <!-- Article Title -->
                        <h3 class="article-title">
                            Volvo Group's new military vehicle can drive sideways, like a crab
                        </h3>

                        <!-- Article Excerpt -->
                        <div class="article-excerpt">
                            It could be the next light armored transport for the French Army.
                        </div>

                        <!-- Article Author -->
                        <p class="article-author">
                            <i class="fas fa-feather-alt"></i>by <strong>
                                Orkhan
                                Ismayilov
                            </strong> and
                            <strong>Ahmad Fataliyev</strong>
                        </p>

                        <!-- Article Date -->
                        <p class="article-date"><i class="fas fa-calendar-alt"></i>23 June 2019</p>
                    </div>
                </a>

            </article>

            <!-- Category Article -->
            <article class="category-article">

                <!-- Article Link -->
                <a href="#" class="article-link">
                    <!-- Article Image Wrapper -->
                    <div class="article-image-wrapper">
                        <!-- Article Image -->
                        <img src="/assets/images/tech-article-3.jpg"
                             alt="Last week in tech: A MacBook Pro recall, the new Kindle, and Facebook’s cryptocurrency"
                             class="article-image">
                    </div>

                    <!-- Article Info Wrapper -->
                    <div class="article-info-wrapper">
                        <!-- Article Title -->
                        <h3 class="article-title">
                            Last week in tech: A MacBook Pro recall, the new Kindle, and Facebook’s cryptocurrency
                        </h3>

                        <!-- Article Excerpt -->
                        <div class="article-excerpt">
                            How many Facebook dollars do you want for that used Nest camera?
                        </div>

                        <!-- Article Author -->
                        <p class="article-author">
                            <i class="fas fa-feather-alt"></i>by <strong>
                                Orkhan
                                Ismayilov
                            </strong>
                        </p>

                        <!-- Article Date -->
                        <p class="article-date"><i class="fas fa-calendar-alt"></i>23 June 2019</p>
                    </div>
                </a>

            </article>

            <!-- Category Article -->
            <article class="category-article">

                <!-- Article Link -->
                <a href="#" class="article-link">
                    <!-- Article Image Wrapper -->
                    <div class="article-image-wrapper">
                        <!-- Article Image -->
                        <img src="/assets/images/tech-article-4.jpg"
                             alt="Saab's new spy plane has a powerful piece of hardware on top"
                             class="article-image">
                    </div>

                    <!-- Article Info Wrapper -->
                    <div class="article-info-wrapper">
                        <!-- Article Title -->
                        <h3 class="article-title">
                            Saab's new spy plane has a powerful piece of hardware on top
                        </h3>

                        <!-- Article Excerpt -->
                        <div class="article-excerpt">
                            The aircraft is called GlobalEye.
                        </div>

                        <!-- Article Author -->
                        <p class="article-author">
                            <i class="fas fa-feather-alt"></i>by <strong>
                                Ahmad
                                Fataliyev
                            </strong>
                        </p>

                        <!-- Article Date -->
                        <p class="article-date"><i class="fas fa-calendar-alt"></i>23 June 2019</p>
                    </div>
                </a>

            </article>
        </div>

        <!-- Category Article Big -->
        <article class="category-article-big">

            <!-- Article Image Wrapper -->
            <div class="article-image-wrapper">
                <!-- Article Image -->
                <img src="/assets/images/tech-article-1.jpg" alt="How a foreign country hacks a power grid"
                     class="article-image">
            </div>

            <!-- Article Info Wrapper -->
            <div class="article-info-wrapper">
                <!-- Article Title -->
                <h2 class="article-title">
                    How a foreign country hacks a power grid
                </h2>

                <!-- Article Excerpt -->
                <p class="article-excerpt">
                    These are the bad things one nation-state can do to another.
                </p>

                <!-- Article Link -->
                <a href="#" class="btn btn-secondary">Read More</a>
            </div>

            <!-- Overlay -->
            <div class="overlay"></div>
        </article>

        <div class="container-wide">

            <!-- Category Article -->
            <article class="category-article image-right">

                <!-- Article Link -->
                <a href="#" class="article-link">
                    <!-- Article Image Wrapper -->
                    <div class="article-image-wrapper">
                        <!-- Article Image -->
                        <img src="/assets/images/tech-article-2.jpg"
                             alt="Volvo Group's new military vehicle can drive sideways, like a crab"
                             class="article-image">
                    </div>

                    <!-- Article Info Wrapper -->
                    <div class="article-info-wrapper">
                        <!-- Article Title -->
                        <h3 class="article-title">
                            Volvo Group's new military vehicle can drive sideways, like a crab
                        </h3>

                        <!-- Article Excerpt -->
                        <div class="article-excerpt">
                            It could be the next light armored transport for the French Army.
                        </div>

                        <!-- Article Author -->
                        <p class="article-author">
                            <i class="fas fa-feather-alt"></i>by <strong>
                                Orkhan
                                Ismayilov
                            </strong> and
                            <strong>Ahmad Fataliyev</strong>
                        </p>

                        <!-- Article Date -->
                        <p class="article-date"><i class="fas fa-calendar-alt"></i>23 June 2019</p>
                    </div>
                </a>

            </article>

            <!-- Category Article -->
            <article class="category-article image-right">

                <!-- Article Link -->
                <a href="#" class="article-link">
                    <!-- Article Image Wrapper -->
                    <div class="article-image-wrapper">
                        <!-- Article Image -->
                        <img src="/assets/images/tech-article-3.jpg"
                             alt="Last week in tech: A MacBook Pro recall, the new Kindle, and Facebook’s cryptocurrency"
                             class="article-image">
                    </div>

                    <!-- Article Info Wrapper -->
                    <div class="article-info-wrapper">
                        <!-- Article Title -->
                        <h3 class="article-title">
                            Last week in tech: A MacBook Pro recall, the new Kindle, and Facebook’s cryptocurrency
                        </h3>

                        <!-- Article Excerpt -->
                        <div class="article-excerpt">
                            How many Facebook dollars do you want for that used Nest camera?
                        </div>

                        <!-- Article Author -->
                        <p class="article-author">
                            <i class="fas fa-feather-alt"></i>by <strong>
                                Orkhan
                                Ismayilov
                            </strong>
                        </p>

                        <!-- Article Date -->
                        <p class="article-date"><i class="fas fa-calendar-alt"></i>23 June 2019</p>
                    </div>
                </a>

            </article>

            <!-- Category Article -->
            <article class="category-article image-right">

                <!-- Article Link -->
                <a href="#" class="article-link">
                    <!-- Article Image Wrapper -->
                    <div class="article-image-wrapper">
                        <!-- Article Image -->
                        <img src="/assets/images/tech-article-4.jpg"
                             alt="Saab's new spy plane has a powerful piece of hardware on top"
                             class="article-image">
                    </div>

                    <!-- Article Info Wrapper -->
                    <div class="article-info-wrapper">
                        <!-- Article Title -->
                        <h3 class="article-title">
                            Saab's new spy plane has a powerful piece of hardware on top
                        </h3>

                        <!-- Article Excerpt -->
                        <div class="article-excerpt">
                            The aircraft is called GlobalEye.
                        </div>

                        <!-- Article Author -->
                        <p class="article-author">
                            <i class="fas fa-feather-alt"></i>by <strong>
                                Ahmad
                                Fataliyev
                            </strong>
                        </p>

                        <!-- Article Date -->
                        <p class="article-date"><i class="fas fa-calendar-alt"></i>23 June 2019</p>
                    </div>
                </a>

            </article>
        </div>

    </div>

</div>

<!-- Go Up Button -->
<button class="btn btn-up"></button>