@model Journal.Areas.Admin.Models.ViewArticles
@{
    ViewBag.title = "Published Articles";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header d-flex align-items-center justify-content-between">
                <h5 class="mb-0">Published Articles List</h5>
                <a href="/admin/articles/add/" class="btn btn-primary font-weight-bold" role="button"><i class="cil-plus"></i> Article</a>
            </div>

            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover">

                        <thead class="thead-dark">
                            <tr>
                                <th scope="col" width="5%">
                                    ID
                                </th>
                                <th class="text-center" scope="col">
                                    Title AZ
                                </th>
                                <th class="text-center" scope="col">
                                    Title EN
                                </th>
                                <th class="text-center" scope="col">
                                    Date
                                </th>
                                <th class="text-center" scope="col">
                                    Status
                                </th>
                                <th class="text-center" scope="col" width="10%">
                                    Actions
                                </th>
                            </tr>
                        </thead>

                        <tbody>
                            @if (Model.ArticlesList.Count > 0)
                            {
                                foreach (var article in Model.ArticlesList)
                                {
                                    <tr>
                                        <td class="font-lg align-middle">
                                            @article.id
                                        </td>
                                        <td class="text-center font-lg align-middle">
                                            @article.title_az
                                        </td>
                                        <td class="text-center font-lg align-middle">
                                            @article.title_en
                                        </td>
                                        <td class="text-center font-lg align-middle">
                                            @article.date;
                                        </td>
                                        <td class="text-center font-lg align-middle">
                                            @if (article.status == 1)
                                            {
                                                <span class="badge badge-success">Published</span>
                                            }
                                            else if (article.status == 0)
                                            {
                                                <span class="badge badge-warning">Non Published</span>
                                            }
                                            else
                                            {
                                                <span class="badge badge-danger">Deleted</span>
                                            }
                                        </td>
                                        <td class="text-center font-xl align-middle">
                                            <a href="/admin/articles/edit/@article.id" class="text-warning mr-2"><i class="cil-pencil"></i></a>
                                            <a href="/admin/articles/delete/@article.id" class="text-danger"><i class="cil-x-circle"></i></a>
                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td class="text-center font-xl" colspan="6">
                                        There is no any article yet
                                    </td>
                                </tr>
                            }
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>